<ion-content>

  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-button color="secondary">Create Application</ion-button>
      </ion-col>
  
      <ion-col>
        <ion-item>
          <ion-label position="floating">Filter</ion-label>
          <ion-input (keyup)="doFilter($event.target.value)"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
  
    <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
  
      <!-- Buyer Name ar Column -->
      <ng-container matColumnDef="buyerNameAr">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Buyer Name(ar) </th>
        <td mat-cell *matCellDef="let element"> {{element.buyerNameAr}} </td>
      </ng-container>
  
      <!-- descEn Column -->
      <ng-container matColumnDef="buyerNameEn">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Buyer Name (En) </th>
        <td mat-cell *matCellDef="let element"> {{element.buyerNameEn}} </td>
      </ng-container>
  
      <!-- descAr Column -->
      <ng-container matColumnDef="address">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Address </th>
        <td mat-cell *matCellDef="let element"> {{element.address}} </td>
      </ng-container>
  
      <!-- symbole Column -->
      <ng-container matColumnDef="phone">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Phone </th>
        <td mat-cell *matCellDef="let element"> {{element.phone}} </td>
      </ng-container>
  
      <ng-container matColumnDef="comNumber">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> comNumber </th>
        <td mat-cell *matCellDef="let element"> {{element.comNumber}} </td>
      </ng-container>
      <ng-container matColumnDef="vat">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> VAT </th>
        <td mat-cell *matCellDef="let element"> {{element.vat}} </td>
      </ng-container>
      <ng-container matColumnDef="avgShipment">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> avgShipment </th>
        <td mat-cell *matCellDef="let element"> {{element.avgShipment}} </td>
      </ng-container>
      <ng-container matColumnDef="crLimit">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Credit Limit </th>
        <td mat-cell *matCellDef="let element"> {{element.crLimit}} </td>
      </ng-container>
      <ng-container matColumnDef="tenorDays">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Tenor Days </th>
        <td mat-cell *matCellDef="let element"> {{element.tenorDays}} </td>
      </ng-container>
      <ng-container matColumnDef="payMode">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Payment Method </th>
        <td mat-cell *matCellDef="let element"> {{element.payMode}} </td>
      </ng-container>
      <ng-container matColumnDef="buyerBank">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Buyer Bank </th>
        <td mat-cell *matCellDef="let element"> {{element.buyerBank}} </td>
      </ng-container>
      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Email </th>
        <td mat-cell *matCellDef="let element"> {{element.email}} </td>
      </ng-container>
      <ng-container matColumnDef="fax">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Fax </th>
        <td mat-cell *matCellDef="let element"> {{element.fax}} </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="selection.toggle(row)"
        [ngClass]="{hovered: row.hovered, highlighted: selection.isSelected(row)}" (mouseover)="row.hovered = true"
        (mouseout)="row.hovered = false">
      </tr>
    </table>
    <mat-paginator [pageSize]="10" [pageSizeOptions]="[ 10, 25,50]">
    </mat-paginator>
  
</ion-content>

