<ion-header>
  <app-primary-toolbar [moduleTitle]="'Insured Shipments'"></app-primary-toolbar>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start" *ngIf="!showSearchbar">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title *ngIf="!showSearchbar"> Search </ion-title>
    <ion-searchbar
      *ngIf="showSearchbar"
      showCancelButton="always"
      [(ngModel)]="queryText"
      (ionChange)="findCustomer($event)"
      (ionCancel)="onCancelSearch()"
      placeholder="Enter Buyer Name"
    ></ion-searchbar>
    <ion-buttons slot="end">
      <ion-button *ngIf="!ios && !showSearchbar" (click)="showSearchbar = true">
        <ion-icon slot="icon-only" name="search"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="chevron-down-circle-outline"
      pullingText="Pull to refresh"
      refreshingSpinner="circles"
      refreshingText="Refreshing..."
    >
    </ion-refresher-content>
  </ion-refresher>

<ion-list class="ion-margin">
      <ion-card *ngFor="let shipment of shipmentList" button (click)="openModal(shipment)">
        <ion-card-header>
          <ion-title>{{shipment.companyName}}</ion-title>
        </ion-card-header>
        <ion-card-content>
          <ion-item lines="none">                                
            <div class="side-div">
              <ion-label color="primary">Amount: {{shipment.cmsdShipAmount|currency}}: {{shipment.cmsdCurrency|lowercase}}</ion-label>              
              <ion-label color="primary">Invoice.No:{{shipment.issuredShipmentsPk.cmsInvoiceNo}}</ion-label>
              <ion-label> Ship.Date:
                {{shipment.cmsShipDate | date:'dd/mm/yyyy'}}</ion-label >
              <ion-label>Status: {{shipment.shipStatus}} </ion-label>
            </div>
          </ion-item>
        </ion-card-content>
      </ion-card>
    </ion-list>
</ion-content>

<ion-footer class="ion-no-border">
  <ion-toolbar color="primary">
   
   
    <ion-buttons slot="end">
      <ion-button (click)="back()">
        <ion-icon name="arrow-back"></ion-icon>
        Back
   </ion-button>	
  </ion-buttons>  
  </ion-toolbar>
</ion-footer>