<ion-header>
  <app-primary-toolbar 
    [showHomeButton]="false"
    [showMainMenuButton]="false"
    [moduleTitle]="title"    
  >
  </app-primary-toolbar>
  <ion-toolbar color="secondary" >
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>    
    <ion-title>
      Credit Limit
    </ion-title>
    <ion-buttons slot="end">
      <ion-button  color="dark">
        <ion-icon name="add-circle"></ion-icon>
        Add Buyer</ion-button>   
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form #form="ngForm" validate>
    <ion-list-header>Request Data</ion-list-header>
    <ion-grid>
      <ion-row>
        <ion-col size="12" size-md="6">
          <ion-item>
            <ion-label position="floating">Risk</ion-label>
            <ion-input
              type="text"
              [(ngModel)]="model.riskRef"
              name="clRef"
            ></ion-input>
          </ion-item>
        </ion-col>
        <ion-col size="12" size-md="6">
          <ion-item>
            <ion-label position="floating">Currency</ion-label>
            <ion-input
              [(ngModel)]="model.currency"
              name="currency"
            ></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label position="floating">Status</ion-label>
            <ion-input
              [(ngModel)]="model.status"
              name="status"
            ></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>     
    </ion-grid>
  <ion-list>
    <ion-list-header *ngIf="model.comprehensiveLimitsDetailsEntity">List of Buyers</ion-list-header>
    <div *ngIf="!model.comprehensiveLimitsDetailsEntity">
      <h1> No Buyers found in this request. Click add Buyer button</h1>
    </div>
    <ion-card *ngFor="let buyer of model.comprehensiveLimitsDetailsEntity">
      <ion-item>
        <ion-label>{{buyer.cldDebtorNameEn}}</ion-label>
      </ion-item>
    </ion-card>
  </ion-list>
  

   
  </form>
</ion-content>