<ion-header>
  <app-primary-toolbar 
    [showHomeButton]="false"
    [showMainMenuButton]="false"
    [moduleTitle]="title"    
  >
  </app-primary-toolbar>
  <ion-toolbar color="secondary" >
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
      <ion-button *ngIf="model.status==='SAV'" (click)="submit();">
        <ion-icon  slot="start" color="light" name="checkmark-circle"></ion-icon>  
        Submit
      </ion-button>
    </ion-buttons>    
    
    <ion-buttons slot="end">
      <ion-button  color="light" (click)="addBuyer()" >
        <ion-icon color="light" name="add-circle"></ion-icon>
        Add Buyer</ion-button>   
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form #form="ngForm" validate>    
    <ion-grid>
      <ion-row>
        <ion-col size="12" size-md="6">        
          <ion-item >
            <ion-label position="floating">Requested Risk</ion-label>
            <ion-select required
              name="riskRef"
              [(ngModel)]="model.riskRef"            
              [selectedText]="getSelectedDesc(model.riskRef)"
            >
              <ion-select-option
                *ngFor="let rsk of riskList"
                [value]="rsk.riskRef"
              >
                {{rsk.desce}}
              </ion-select-option>
            </ion-select>
          </ion-item>
          <div class="bar error" *ngIf="!form.valid && form.touched"><ion-label>select requested risk</ion-label></div>
        </ion-col>
        <ion-col size="12" size-md="6">
          <ion-item>
            <ion-label>Currency</ion-label>
            <ionic-selectable required
              [(ngModel)]="model.currency"
              name="currency"
              [items]="currencyList"
              itemValueField="currency"
              itemTextField="cuDescriptionE"
              [canSearch]="true"
              (onChange)="currencyChange($event)">
            </ionic-selectable>
          </ion-item>
          <div class="bar error" *ngIf="!form.valid && form.touched"><ion-label>select Currency</ion-label></div>
        </ion-col>
      </ion-row>         
    </ion-grid>
  <ion-list class="ion-margin">
    <ion-list-header *ngIf="model.comprehensiveLimitsDetailsEntity"><h6>List of Buyers</h6></ion-list-header>
    <div class="ion-text-center" *ngIf="!model.comprehensiveLimitsDetailsEntity || model.comprehensiveLimitsDetailsEntity.length==0">
      <p class="ion-padding"> No Buyers found in this request. Click add Buyer button</p>
    </div>
    <ion-card *ngFor="let buyer of model.comprehensiveLimitsDetailsEntity">
      <ion-item button (click)="openBuyerPage(buyer.cLDRef)">
        <ion-icon slot="start" name="school"></ion-icon>
        <div >
          <ion-label>Name:{{buyer.cldDebtorNameEn}}</ion-label>
          <ion-label>{{buyer.cldDebtorNameAr}}</ion-label>
          <ion-label>Avg Ship.{{buyer.cldAvgShip}}</ion-label>
          <ion-label>Crd.Limit:{{buyer.clsCreditLimitRequested}}</ion-label>
        </div>
        
      </ion-item>
    </ion-card>
  </ion-list>
  </form>
</ion-content>
<ion-footer class="ion-no-border">
  <ion-toolbar color="primary">
    <ion-title>Buyers</ion-title>
  </ion-toolbar>
</ion-footer>