.app-logo{
    background-image: url("/assets/icon/dhaman_logo.png");
    height: 150px;
    width: 300px;
    background-repeat: no-repeat;
    border-radius: 0px;
    background-position: top;
    background-size: contain;
    background-color:transparent;
    margin: 20px auto;
  }