<ion-header>
</ion-header>
<ion-content>  
  <div class="app-logo">
  </div>
  <ion-grid >
    <ion-row>
      <ion-col class="ion-text-center">
       
        <form #loginForm="ngForm" novalidate>
          <ion-list>
            <!--  User name -->
            <ion-item>
              <ion-label position="stacked" color="primary">Username</ion-label>
              <ion-input [(ngModel)]="creds.loginName" name="loginName" #loginName="ngModel" type="text"  spellcheck="false"
                autocapitalize="off" required >
              </ion-input>
            </ion-item>

            
            <!--  password -->
            <ion-item>
              <ion-label position="stacked" color="primary">Password</ion-label>
              <ion-input [(ngModel)]="creds.password" name="password" type="password" #password="ngModel" required>
              </ion-input>
            </ion-item>

           
          </ion-list>
          <!--  login button -->
          <ion-row>
            <ion-col>
              <ion-button  (click)="onLogin(loginForm)" expand="block">Login</ion-button>
            </ion-col>            
          </ion-row>
          
        </form>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>