.app-logo{
    background-image: url("/assets/icon/dhaman.png");
    height: 100px;
    width: 100px;
    background-repeat: no-repeat;
    border-radius: 300px;
    background-position: center;
    background-size: contain;
    background-color:transparent;
    margin: 20px auto;
  }