<ion-header>
  <app-primary-toolbar [moduleTitle]="'Credit Limit'"> </app-primary-toolbar>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title> {{title}} </ion-title>
    <ion-buttons slot="end">
      <ion-button color="light" (click)="save()">
        <ion-icon name="save"></ion-icon>
        Save
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <div>
    <ion-segment
      (ionChange)="onSegmentChanged($event)"
      color="primary"
      scrollable="true"
      value="basicInfo"
    >
      <ion-segment-button value="basicInfo">
        <ion-label>Basic Info.</ion-label>
        <ion-icon name="albums"></ion-icon>
      </ion-segment-button>
      <ion-segment-button value="Address" color="secondary">
        <ion-label>Address</ion-label>
        <ion-icon name="location"></ion-icon>
      </ion-segment-button>
      <ion-segment-button value="lastYears" color="secondary">
        <ion-label>Last 3 Years</ion-label>
        <ion-icon name="calendar-number"></ion-icon>
      </ion-segment-button>
    </ion-segment>
  </div>
</ion-header>

<ion-content>
  <div [ngSwitch]="segmentModel">
    <!-- basicInfo  -->
    <ion-grid class="ion-padding" *ngSwitchCase="'basicInfo'">
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label position="floating">Arabic Name</ion-label>
            <ion-input
              name="cldDebtorNameAr"
              [(ngModel)]="buyer.cldDebtorNameAr"
            ></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label position="floating">English Name</ion-label>
            <ion-input
              name="cldDebtorNameEn"
              [(ngModel)]="buyer.cldDebtorNameEn"
            ></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label position="floating">Comm. Registeration</ion-label>
            <ion-input
              name="clsCommercialReg"
              [(ngModel)]="buyer.clsCommercialReg"
            ></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label position="floating">Avg. Shipment</ion-label>
            <ion-input
              type="number"
              name="cldAvgShip"
              [(ngModel)]="buyer.cldAvgShip"
            ></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label position="floating">Credit Limit</ion-label>
            <ion-input
              type="number"
              name="clsCreditLimitRequested"
              [(ngModel)]="buyer.clsCreditLimitRequested"
            ></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label position="floating">Bank</ion-label>
            <ion-input name="cldBank" [(ngModel)]="buyer.cldBank"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label position="floating">Vat</ion-label>
            <ion-input name="cldVat" [(ngModel)]="buyer.cldVat"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label type="number" position="floating">Tenor</ion-label>
            <ion-input name="cldTenor" [(ngModel)]="buyer.cldTenor"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label position="floating">Payment Mode</ion-label>
            <ion-select
              name="paymentMode"
              [(ngModel)]="buyer.paymentMode"
              [placeholder]="'Tap to select'"
              [selectedText]="buyer.paymentMode?buyer.paymentMode.ptDesc:''"
            >
              <ion-select-option *ngFor="let p of paymodeList" [value]="p"
                >{{p.ptDesc}}</ion-select-option
              >
            </ion-select>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label position="floating">Relation With Buyer</ion-label>
            <ion-select
              name="cldRelationDebtor"
              [(ngModel)]="buyer.cldRelationDebtor"
              [selectedText]="buyer.cldRelationDebtor?buyer.cldRelationDebtor.brDesc:''"
            >
              <ion-select-option
                *ngFor="let r of buyerRelationList"
                [value]="r"
              >
                {{r.brDesc}}
              </ion-select-option>
            </ion-select>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>
    <!-- Address  -->
    <ion-grid class="ion-padding" *ngSwitchCase="'Address'">
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label position="floating"> Country</ion-label>
            <ionic-selectable
              [(ngModel)]="buyer.country"
              name="country"
              [items]="countryList"
              itemValueField="couReference"
              itemTextField="couOfficialNameE"
              [canSearch]="true"
              (onChange)="countryChange($event)"
            >
            </ionic-selectable>
          </ion-item>
          <ion-item>
            <ion-label position="floatin">Phone</ion-label>
            <ion-input
              type="tel"
              name="cldPhone"
              [(ngModel)]="buyer.cldPhone"
            ></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Address</ion-label>
            <ion-textarea
              color="dark"
              name="cldAddress"
              [(ngModel)]="buyer.cldAddress"
            ></ion-textarea>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>
    <!-- three Years  -->
    <ion-grid class="ion-padding" *ngSwitchCase="'lastYears'">
      <ion-row>
        <ion-col>
          <ion-card >
            <ion-card-title color="primary">
              <ion-item>
                <ion-label position="floating">Year</ion-label>
                <ion-input
                  type="number"
                  [(ngModel)]="buyer.cldYear1"
                  name="cldYear1"
                ></ion-input>
              </ion-item>
            </ion-card-title>
            <ion-card-content>
              <ion-item>
                <ion-label position="floating">Amount</ion-label>
                <ion-input
                  type="number"
                  name="cldPreviousDealing1"
                  [(ngModel)]="buyer.cldPreviousDealing1"
                ></ion-input>
                <ion-label position="floating">Payment mode</ion-label>

                <ion-select
                  name="ptPreviousRef1"
                  [(ngModel)]="buyer.ptPreviousRef1"
                  [selectedText]="buyer.ptPreviousRef1?buyer.ptPreviousRef1.ptDesc:''"
                >
                  <ion-select-option *ngFor="let p of paymodeList" [value]="p"
                    >{{p.ptDesc}}</ion-select-option
                  >
                </ion-select>

                <ion-label position="floating">Outstanding </ion-label>
                <ion-input
                  type="number"
                  [(ngModel)]="buyer.cldOutstanding"
                  name="cldOutstanding"
                ></ion-input>
                <ion-label position="floating">
                  Reason for outstanding</ion-label
                >
                <ion-input
                  [(ngModel)]="buyer.outstandingReason1"
                  name="outstandingReason1"
                ></ion-input>
              </ion-item>
            </ion-card-content>
          </ion-card>

          <ion-card >
            <ion-card-title color="primary">
              <ion-item>
                <ion-label position="floating">Year</ion-label>
                <ion-input
                  type="number"
                  [(ngModel)]="buyer.cldYear2"
                  name="cldYear2"
                ></ion-input>
              </ion-item>
            </ion-card-title>
            <ion-card-content>
              <ion-item>
                <ion-label position="floating">Amount</ion-label>
                <ion-input
                  type="number"
                  name="cldPreviousDealing2"
                  [(ngModel)]="buyer.cldPreviousDealing2"
                ></ion-input>
                <ion-label position="floating">Payment mode</ion-label>

                <ion-select
                  name="ptPreviousRef2"
                  [(ngModel)]="buyer.ptPreviousRef2"
                  [selectedText]="buyer.ptPreviousRef2?buyer.ptPreviousRef2.ptDesc:''"
                >
                  <ion-select-option *ngFor="let p of paymodeList" [value]="p"
                    >{{p.ptDesc}}</ion-select-option
                  >
                </ion-select>

                <ion-label position="floating">Outstanding </ion-label>
                <ion-input
                  type="number"
                  [(ngModel)]="buyer.cldOutstanding2"
                  name="cldOutstanding2"
                ></ion-input>
                <ion-label position="floating">
                  Reason for outstanding</ion-label
                >
                <ion-input
                  [(ngModel)]="buyer.outstandingReason2"
                  name="outstandingReason2"
                ></ion-input>
              </ion-item>
            </ion-card-content>

            <ion-card >
              <ion-card-title color="primary">
                <ion-item>
                  <ion-label position="floating">Year</ion-label>
                  <ion-input
                    type="number"
                    [(ngModel)]="buyer.cldYear3"
                    name="cldYear3"
                  ></ion-input>
                </ion-item>
              </ion-card-title>
              <ion-card-content>
                <ion-item>
                  <ion-label position="floating">Amount</ion-label>
                  <ion-input
                    type="number"
                    name="cldPreviousDealing3"
                    [(ngModel)]="buyer.cldPreviousDealing3"
                  ></ion-input>
                  <ion-label position="floating">Payment mode</ion-label>
  
                  <ion-select
                    name="ptPreviousRef3"
                    [(ngModel)]="buyer.ptPreviousRef3"
                    [selectedText]="buyer.ptPreviousRef3?buyer.ptPreviousRef3.ptDesc:''"
                  >
                    <ion-select-option *ngFor="let p of paymodeList" [value]="p"
                      >{{p.ptDesc}}</ion-select-option
                    >
                  </ion-select>
  
                  <ion-label position="floating">Outstanding </ion-label>
                  <ion-input
                    type="number"
                    [(ngModel)]="buyer.cldOutstanding3"
                    name="cldOutstanding3"
                  ></ion-input>
                  <ion-label position="floating">
                    Reason for outstanding</ion-label
                  >
                  <ion-input
                    [(ngModel)]="buyer.outstandingReason3"
                    name="outstandingReason3"
                  ></ion-input>
                </ion-item>
              </ion-card-content>
            </ion-card>
          </ion-card>

        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
<ion-footer class="ion-no-border">
  <ion-toolbar color="primary">   
    <ion-buttons slot="end">
      <ion-back-button></ion-back-button>
  </ion-buttons>  
  </ion-toolbar>
</ion-footer>