<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Declaration</ion-title>
    <ion-buttons slot="end">
      <ion-button
        (click)="save()"
        *ngIf="mode != 'query' || model.status === 'SAV'"
      >
        save
        <ion-icon color="light" slot="end" name="save"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="start">
      <ion-button (click)="cancel()">
        close
        <ion-icon slot="start" name="exit"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label position="floating">Buyer</ion-label>
          <ionic-selectable
            [disabled]="model.status === 'SUB'"
            [(ngModel)]="model?.declarationsDetailEntity[idx].company"
            name="company"
            [items]="buyerList"
            [canSearch]="true"
            itemTextField="compNameE"
            itemValueField="compRef"
            (onChange)="onBuyerChange($event)"
          >
          </ionic-selectable>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label position="floating">Invoice Value</ion-label>
          <ion-input
            [readonly]="model.status === 'SUB'"
            type="number"
            inputmode="decimal"
            required
            (change)="onInvValueChange($event)"
            (click)="onInvValueFocus($event)"
            name="ddInvoiceValue"
            #invVal
            [(ngModel)]="model.declarationsDetailEntity[idx].ddInvoiceValue"
            [ngModel]="model.declarationsDetailEntity[idx].ddInvoiceValue"
          ></ion-input>
          <span class="error ion-padding" *ngIf="!invVal.value">*required</span>
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-item>
          <ion-label position="floating">Invoice No</ion-label>
          <ion-input
            [readonly]="model.status === 'SUB'"
            name="ddInvNo"
            [(ngModel)]="model.declarationsDetailEntity[idx].ddInvNo"
          ></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label position="floating">Ship Date</ion-label>
          <ion-datetime
            [readonly]="model.status === 'SUB'"
            displayFormat="MM/YYYY"
            name="ddShipDate"
            [(ngModel)]="model.declarationsDetailEntity[idx].ddShipDate"
          ></ion-datetime>
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-item>
          <ion-label position="floating">Mat.Date</ion-label>
          <ion-datetime
            [readonly]="model.status === 'SUB'"
            displayFormat="MM/YYYY"
            name="ddMaturityDate"
            [(ngModel)]="model.declarationsDetailEntity[idx].ddMaturityDate"
          ></ion-datetime>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label position="floating">Premuim Rate</ion-label>
          <ion-input
            [readonly]="model.status === 'SUB'"
            name="ddPrmRate"
            [(ngModel)]="model.declarationsDetailEntity[idx].ddPrmRate"
          ></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label position="stacked">Premuim value</ion-label>
          <ion-input readonly name="ddPrmValue">{{
            premValue | number: "1.3-3"
          }}</ion-input>
          <ion-note>This is just an initial value</ion-note>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label position="floating">Revolving</ion-label>
          <ion-input
            readonly
            name="ddRevolving"
            [(ngModel)]="model.declarationsDetailEntity[idx].ddRevolving"
            [ngModel]="
              model.declarationsDetailEntity[idx].ddRevolving | number: '1.3-3'
            "
          ></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
