<ion-app>
  
    <ion-menu contentId="main-content" side="start" swipeGesture="true" type="overlay" >
      <ion-content>
        <div class="app-logo"></div>
        <ion-list id="inbox-list" >
          <ion-list-header>Transactions</ion-list-header>          
          <ion-menu-toggle >
            <ion-item lines="none" button routerDirection="root">
              <ion-icon slot ="start" name="aperture-outline"></ion-icon>
              <ion-label>New Application</ion-label>
            </ion-item>
            <ion-item lines="none" button routerDirection="root">
              <ion-icon slot="start" name="create-outline"></ion-icon>
              <ion-label>Credit Limit modification</ion-label>
            </ion-item>
            <ion-item lines="none" button routerDirection="root">
              <ion-icon slot="start" name="boat-outline"></ion-icon>
              <ion-label>Periodic Declarations</ion-label>
            </ion-item>          
          </ion-menu-toggle>
        </ion-list>

        <ion-list id="labels-list">
          <ion-list-header>Reports</ion-list-header>
          <ion-menu-toggle >
            <ion-item lines="none" button routerDirection="root">
              <ion-icon slot ="start" name="aperture-outline"></ion-icon>
              <ion-label>Application Ststus</ion-label>
            </ion-item>
            <ion-item lines="none" button routerDirection="root">
              <ion-icon slot="start" name="create-outline"></ion-icon>
              <ion-label>Contract Overview</ion-label>
            </ion-item>
            <ion-item lines="none" button routerDirection="root">
              <ion-icon slot="start" name="boat-outline"></ion-icon>
              <ion-label>Contract Summary</ion-label>
            </ion-item>
            <ion-item lines="none" button routerDirection="root">
              <ion-icon slot="start" name="cloud-circle-outline"></ion-icon>
              <ion-label>Overdue Shipments</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  
</ion-app>
