<ion-content>
  <!-- fab placed to the (vertical) center and end -->
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="success" (click)="createApp()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <ion-list>  
    <ion-item-sliding *ngFor="let app of applicationData" #slidingItem>
      <ion-item button detail>
        <ion-label>
          <h1>
            {{ app.buyerNameAr }}
          </h1>
          <div>Credit Limit :{{ app.crLimit }}</div>
        </ion-label>
      </ion-item>
      <ion-item-options side="end">
        <ion-item-option color="secondary" (click)="onEdit(app.id, slidingItem)"
          >Edit</ion-item-option
        >
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>
