
  <ion-header>
    <app-primary-toolbar [moduleTitle]="'Applications'"> </app-primary-toolbar>
  
    <ion-toolbar color="secondary" >
      <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>
      <ion-title>
      All Applications
      </ion-title>
      <ion-buttons slot="end">
        <ion-button>
          <ion-icon name="search"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>


<ion-content>
  <!--   <app-application-table *ngIf="!ismobile"></app-application-table>

  -->

  <app-application-list></app-application-list>
</ion-content>
