<ion-header>
  <app-primary-toolbar
    [showHomeButton]="false"
    [showMainMenuButton]="true"
    [moduleTitle]="'Home Page '"
  >
  </app-primary-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="12" size-md="3">        
          <ion-item class="menu-item" button [routerLink]="['/credit-limit']" lines="none">
            <ion-img             
              slot="start"
              class="small"
              src="assets/icon/increase-lines.png"
            ></ion-img>
            <div>
              <ion-label >Credit Limit</ion-label>
              <ion-note  slot="start"> Click to add new Buyer</ion-note>
            </div>
          </ion-item>
   
      </ion-col>

      <ion-col size="12" size-md="3">
        
          <ion-item class="menu-item"  button [routerLink]="['/declaration']" lines="none">
            <ion-img             
              slot="start"
              class="small"
              src="assets/icon/ship-border.png"
            ></ion-img>
            <div>
              <ion-label >Declaration</ion-label>
              <ion-note  slot="start"> Click here for Periodic Declaration</ion-note>
            </div>
          </ion-item>
           
      </ion-col>
      <ion-col size="12" size-md="3">
         <ion-item class="menu-item"  button [routerLink]="['/application-status']" lines="none">
            <ion-img             
              slot="start"
              class="small"
              src="assets/icon/application-status.png"
            ></ion-img>
            <div>
              <ion-label >Application Status</ion-label>
              <ion-note  slot="start"> Click here to inquery about the status of an application</ion-note>
            </div>
          </ion-item>
      </ion-col>
      <ion-col size="12" size-md="3">
        <ion-item class="menu-item"  button [routerLink]="['/overdue-shipment']" lines="none">
           <ion-img             
             slot="start"
             class="small"
             src="assets/icon/overdue-shipment.png"
           ></ion-img>
           <div>
             <ion-label >Overdue Shipments</ion-label>
             <ion-note  slot="start"> Click here to view Overdue Shipments</ion-note>
           </div>
         </ion-item>
     </ion-col>
     <ion-col size="12" size-md="3">
      <ion-item class="menu-item"  button [routerLink]="['/isured-shipments']" lines="none">
         <ion-img             
           slot="start"
           class="small"
           src="assets/icon/insured.png"
         ></ion-img>
         <div>
           <ion-label >Insured Shipments</ion-label>
           <ion-note  slot="start"> Click here to view issured Shipments</ion-note>
         </div>
       </ion-item>
   </ion-col>
     <ion-col size="12" size-md="3">
      <ion-item class="menu-item"  button [routerLink]="['/contract-annex']" lines="none">
         <ion-img             
           slot="start"
           class="small"
           src="assets/icon/contract-overview.png"
         ></ion-img>
         <div>
           <ion-label >Contract Summary</ion-label>
           <ion-note  slot="start"> Click here for Contract Summary</ion-note>
         </div>
       </ion-item>
   </ion-col>
   <ion-col size="12" size-md="3">
    <ion-item class="menu-item"  button [routerLink]="['/contract-summary']" lines="none">
       <ion-img             
         slot="start"
         class="small"
         src="assets/icon/contract-summary.png"
       ></ion-img>
       <div>
         <ion-label >Contract Overview</ion-label>
         <ion-note  slot="start"> Click here to inquery contract Overview</ion-note>
       </div>
     </ion-item>
 </ion-col>
    </ion-row>
    <!--
<ion-row>
      <ion-col size="12" size-md="3">
        <ion-card>
          <ion-card-header>
            <ion-img src="assets/icon/ship.jpg"></ion-img>
          </ion-card-header>
          <ion-card-title color="primary">
            <a class="nav-link" [routerLink]="['/']">Application Status</a>
          </ion-card-title>
          <ion-card-content>
            <p>Click here to View application status</p>
            <a class="nav-link" [routerLink]="['/']">Click here for help</a>
            <ion-icon name="arrow-forward-outline"></ion-icon>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="12" size-md="3">
        <ion-card>
          <ion-card-header>
            <ion-img src="assets/icon/ship.jpg"></ion-img>
          </ion-card-header>
          <ion-card-title color="primary">
            <a class="nav-link" [routerLink]="['/']">Contract Overview</a>
          </ion-card-title>
          <ion-card-content>
            <p>View Contract Overview report</p>
            <a class="nav-link" [routerLink]="['/']">Click here for help</a>
            <ion-icon name="arrow-forward-outline"></ion-icon>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="12" size-md="3">
        <ion-card>
          <ion-card-header>
            <ion-img src="assets/icon/ship.jpg"></ion-img>
          </ion-card-header>
          <ion-card-title color="primary">
            <a class="nav-link" [routerLink]="['/']">Contract Summary</a>
          </ion-card-title>
          <ion-card-content>
            <p>View Contract Summary</p>
            <a class="nav-link" [routerLink]="['/']">Click here for help</a>
            <ion-icon name="arrow-forward-outline"></ion-icon>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="12" size-md="3">
        <ion-card>
          <ion-card-header>
            <ion-img src="assets/icon/ship.jpg"></ion-img>
          </ion-card-header>
          <ion-card-title color="primary">
            <a class="nav-link" [routerLink]="['/']">Overdue Shipments</a>
          </ion-card-title>
          <ion-card-content>
            <p>View Overdue Shipments</p>
            <a class="nav-link" [routerLink]="['/']">Click here for help</a>
            <ion-icon name="arrow-forward-outline"></ion-icon>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>


    -->
    
  </ion-grid>
</ion-content>
<ion-footer class="ion-no-border">
  <ion-toolbar color="primary">
    <ion-title>Home</ion-title>   
    <ion-buttons slot="start">
      <ion-icon name="home" class="ion-padding"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
