.small{
    max-width: 120px;
    max-height: 120px;
    border-radius: 50%;        
    background:transparent;
    padding: 2px; 
}
.menu-item{
    --border-style: solid;    
    --border-width: 1px 1px 1px 1px;
    --border-color:rgb(122, 120, 120); 
    --border-radious:50%;
    
}
ion-item{
    --border-radius:5%;
}
