.profile-head {
    transform: translateY(5rem)
}

.cover {
    background-image: url(/assets/icon/background-profile.png);
    background-size: cover;
    background-repeat: no-repeat
}

.bg {
    background: #f80202;
    background: linear-gradient(to right, #e94343, #865d4a);
    min-height: 100vh
}
.address{
    color:white;
}